<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"/>
    <title>EShop application</title>
</head>

<body>

<div class="container">
    <div class="row py-2">

        <form th:action="@{/file/create}" method="post" enctype="multipart/form-data">
            <input type="file" name="file" multiple required>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>


        <div class="col-12 mt-3">
            <form>
                <label>Name</label>
                <input type="text" name="name" id="name" th:value="${param.name}"/>
                <button class="btn btn-primary" type="submit">Filter</button>
            </form>
            <form>
                <label>lowTime</label>
                <input type="text" name="low" id="low" th:value="${param.low}"/>
                <label>upTime</label>
                <input type="text" name="up" id="up" th:value="${param.up}"/>
                <button class="btn btn-primary" type="submit">Filter</button>
            </form>
        </div>

        <table id="files" class="table table-hover" cellspacing="0" width="100%">
            <thead>
            <th>Id</th>
            <th>Name</th>
            <th>time</th>
            <th>type</th>
            <th>size</th>
            <th class="actions">Download/Delete</th>
            </thead>
            <tbody>
            <tr th:each="file : ${files}">
                <td th:text="${file.id}"></td>
                <td th:text="${file.name}"></td>
                <td th:text="${file.time}"></td>
                <td th:text="${file.type}"></td>
                <td th:text="${file.size}"></td>
                <td>
                    <a th:href="@{/file/{id}/download(id=${file.id})}" class="btn btn-icon btn-pill btn-primary"
                       data-toggle="tooltip" title="download">
                        <i class="fa fa-fw fa-edit"></i>
                    </a>
                    <form th:action="@{/file/{id}/delete(id=${file.id})}" th:method="delete"
                          class="d-inline">
                        <button class="btn btn-icon btn-pill btn-danger" data-toggle="tooltip" title="Delete">
                            <i class="fa fa-fw fa-trash"></i>
                        </button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>